<!DOCTYPE html>
<html>
<body>
<table><tr><td>
<h2>Mountain Bikes</h2>
<img border="0" src="/assets/cc1.jpg" alt="" width="304" height="228">
</td>
<td><p>Mountain biking is a sport which consists of riding bicycles off-road, often over rough terrain, using specially adapted mountain bikes. Mountain bikes share similarities with other bikes, but incorporate features designed to enhance durability and performance in rough terrain.
Mountain biking can generally be broken down into multiple categories: cross country (XC), trail riding, all mountain, downhill, freeride, slopestyle, dirt jumping and trials. The vast majority of mountain biking falls into the recreational XC, and Trail Riding categories.
This individual sport requires endurance, core strength and balance, bike handling skills, and self-reliance. Advanced riders pursue steep technical descents and, in the case of freeriding, downhilling, and dirt jumping, aerial maneuvers off of specially constructed jumps and ramps.</p></td>
</tr></table>
<table><tr><td>
<h2>Downhill Mountain Bikes</h2>
<img border="0" src="/assets/cc2.jpg" alt="" width="304" height="228">
</td>
<td><p>Downhill mountain biking requires four skills: the strength and fitness to ride fast; the agility to jump from high places; the nerve to take long jumps while airborne; and finally the patience to learn a small handful of braking and turning skills to prevent crashes and wipeouts. Also you'll need the strength and agility (as well as the body armor) to cope with repeated jolts, ten-foot drops, and long, spooky, silent moments when the bike goes airborne.
Let's have a look first at downhill mountain bikes.</p></td>
</tr></table>
</body>
</html>

