<h1>ABOUT COMPANY</h1>


<p>The above values define CYCLE STORE as a brand offering consumers a wide range of bicycles, electric cycles, e-scooters and infant mobility products. With its origins in UK, BSA is a 140 year old brand. Since 1964, the year when BSA was taken over by TI Cycles, the brand has come a long way. Today, BSA is a prominent part of many Indian families, with mobility solutions for everyone – toddlers, kids, teens and adults.</p>

<p>Over the years, the brand has launched several popular ranges of cycles. With BSA SLR in 1975, the brand gave India its first sports light roadster designed to improve the comfort of a ride. In 1983, BSA launched the 1st bicycle for kids in India, BSA Champ and it still continues to be one of the most popular brands with market leadership in the segment. In 1989, TI became the first to have exclusive company stores in India. In 1994, BSA launched Ladybird, the leading designer cycle for young girls.</p>

<p>In 2008, BSA Motors was launched, unveiling a wide range of electric scooters. In 2009, BSA launched Toddlers to put the next generation on the move with fun prams, walkers and tricycles. BSA Workouts was also launched in 2009 with a products range from treadmills, elliptical, bikes and home gym.



</p>
